/* @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap'); */

.deepfij-header {
    background-color: white;
    background-image: url(http://localhost:8080/css/img/deepfij-ted2.jpg);
        background-position: 50% 64%;
        background-size: cover;
        border-bottom: #333 5px solid;
    color: #333;
    text-align: center;
    padding: 1.5rem 0rem 1.5rem 1rem;
    font-family: 'Protest Riot', sans-serif;
}