.outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    padding: 2rem;
}

.calendar-wrapper {
    max-width: 240px;
    font: 75% system-ui;
    padding: 1rem;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 2.25rem);
}

.day-name {
    background: #eee;
}

h1 {
    text-align: center;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    padding: 2px;
}