.outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    padding: 0;
}

.year {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0 1rem 2rem;
}
