@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto&family=RobotoCondensed:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '@coreui/coreui/dist/css/coreui.min.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('assets/ep_naturalwhite.webp');
}
